{{!-- navigation header for all authenticated pages --}}

{{!-- sidenav dropdowns --}}
<ul id='dropdown1' class='dropdown-content'>
    <li><a href="/stories">Recent</a></li>
    <li><a href="/stories/bumped">Rankings</a></li>
</ul>

{{!-- navbar --}}
<nav class="grey darken-3" style="padding-top: 8px; height: 70px">
    <div class="nav-wrapper container">
        <a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="mobile-demo">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href = "/stories/add">Create</a></li>  
            <li><a href="/userProfile">Profile</a></li>
            <li><a class='dropdown-trigger' href='#' data-target='dropdown1'>Stories</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
        {{!-- logo --}}
            <a href = "#" class = "brand-logo center brand"><img src="/images/bumpbook-logo.png" class = "brand-img"> BumpBooks</a>
        <!-- Left-aligned items -->
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/stories/add">Create</a></li>
        </ul>

        <!--Right-aligned items -->
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/userProfile">Profile</a></li>
            <li>
                <a class="dropdown-trigger" href="#" data-target="dropdown2">Stories</a>
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="/stories">Recent</a></li>
                    <li><a href="/stories/bumped">Rankings</a></li>
                </ul>
            </li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>


