{{!-- login page --}}
<h1><img src="/images/bumpbook-logo.png" class="login-brand-img"> Login</h1>
    <div class="section">
       {{#if validationErrors}}
       {{!-- alert validation errors --}}
            <div class="alert alert-danger">
                 <ul>
                    {{#each validationErrors}}
                    {{!-- loop through message and display --}}
                        <li>{{this.msg}}</li>
                    {{/each}}
                </ul>
            </div>
         {{/if}}
    {{!-- create form for login and user auth--}}
    <form action="/auth/login" method="POST">
        <div class = "input-field">
            {{!-- email login --}}
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class = "input-field">
            {{!-- passoword login --}}
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="row">
            {{!-- submit form for login --}}
            <input type="submit" value="Login" class=" login-btn btn">
            {{!-- signup link for no user account --}}
            <p>Don't have an account? <a href="/signUp" class = "accountQuery">Sign Up</a></p> 
        </div>
    </form>
</div>
<div class="divider"></div>
 <div class="section">
    {{!-- if google auth
    <a href="/auth/google" class="btn red darken-1 login-btn">
    <i class="fab fa-google left"></i> Login with Google
    </a> --}}
    {{!-- privacy policy link --}}
    <a href="/privacy" class "btn blue">Privacy Policy</a>
</div>