<h1><img src="/images/bumpbook-logo.png" class="login-brand-img"> Sign up</h1>
    <div class="section login-container">
    <form action="/auth/signUp" method="POST">
        <div class = "input-field">
            <label for = "displayName">Display Name</label>
            <input type="text" id="displayName" name="displayName" required>
        </div>
        <div class = "input-field">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class = "input-field">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="input-field">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div class="row">
            <input type="submit" value="Sign Up" class="login-btn btn">
            <p >Already have an account? <a href="/login" class = "accountQuery">Login</a></p> 
        </div>
    </form>
</div>
<div class="divider"></div>
 <div class="section">
    <a href="/auth/google" class="btn red darken-1 login-btn">
    <i class="fab fa-google left"></i> Login with Google
    </a>
    <a href="/privacy" class "btn blue">Privacy Policy</a>
</div>

