<h6>STORYBOARD</h6>
<h3>Create Story</h3>
<div class="row">
    <form action="/stories" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="title" name="title" required>
                <label for="title">Title</label>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <input type="text" id="description" name="description" maxlength = "250" required>
                <label for="description">Description</label>
            </div>
        </div>

         <div class="row">
            <div class="input-field">
                <select id="tags" name="tags">
                    <option class = "select" value="general" selected>General</option>
                    <option class = "select" value="romance">Romance</option>
                    <option class = "select" value="fantasy">Fantasy</option>
                    <option class = "select" value="sci-fi">Sci-fi</option>
                    <option class = "select" value="mystery">Mystery</option>
                    <option class = "select" value="horror">Horror</option>
                    <option class = "select" value="comedy">Comedy</option>
                </select>
                <label for="tags">Tags</label>
            </div>
        </div>

        <div class= "row">
            <div class="mobile-radio-btns">
                <label for="tags">Tags</label>
                <p>
                <label>
                    <input class = "with-gap" name = "tags" value ="general" type="radio" checked />
                    <span>General</span>
                </label>
                </p>
                <p>
                <label>
                    <input class = "with-gap" name= "tags" value = "romance" type="radio" />
                    <span>Romance</span>
                </label>
                </p>
                <p>
                <label>
                    <input class="with-gap" name= "tags" value = "fantasy" type="radio"  />
                    <span>Fantasy</span>
                </label>
                </p>
                <p>
                <label>
                    <input class = "with-gap" name= "tags" value = "sci-fi" type="radio" />
                    <span>Sci-fi</span>
                </label>
                </p>
                <label>
                    <input class = "with-gap" name= "tags" value = "mystery" type="radio" />
                    <span>Mystery</span>
                </label>
                </p>
                <label>
                    <input class = "with-gap" name= "tags" value = "horror" type="radio" />
                    <span>Horror</span>
                </label>
                </p>
                <label>
                    <input class = "with-gap" name= "tags" value = "comedy" type="radio" />
                    <span>Comedy</span>
                </label>
                </p>
            </div>
        </div>

        

        <div class="row">
            <div class="input-field">
                <select id="status" name="status">
                    <option value="public" selected>Public</option>
                    <option value="private">Private</option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>


        <div class="row">
            <div class="input-field">
                <h5>Your Story:</h5>
                <textarea id="body" name="body" required></textarea>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange">Cancel</a>
        </div>
    </form>
</div>